.benefits {
    padding: 94px 0;
}
.benefits__list {
    display: flex;
    column-gap: 30px;
}
.benefits__title {
    @include font (null, 14, 1.14, 0.03);
    margin-bottom: 10px;
    // font-size: 14px;
    // line-height: 1.1428;
    // letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-main-dark);
}
.benefits__text {
    @include font (null, 14, 1.71, 0.03);
    max-width: 270px;
    max-height: 98px;
    // font-size: 14px;
    // line-height: 1.71;
    // letter-spacing: 0.03em;
    color: var(--color-feature)
}
.benefits__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--color-light-gray);
}